$def with ()

<div class="get">
  <div class="am-g">
    <div class="am-u-lg-12">
      <h1 class="get-title">Real-time Options Maximum Pain</h1>
      <p>
        All about maximum pain and Stock Option in NYSE and NASDAQ
      </p>
      
      <div class="am-g">
         <div class="am-u-md-8 am-u-sm-centered">
           <form class="am-form-inline" method="post" action="/route">
            <input class="am-form-field am-input-lg" type="text" name="symb" placeholder="input a stock symb">
            <button type="submit" class="am-btn am-btn-success">Query</button>
           </form>
         </div>
      </div>
    </div>
  </div>
</div>

<div class="detail">
  <div class="am-g am-container">
    <div class="am-u-lg-12">
      <h2 class="detail-h2">Benefits when a stock pegs a specific strike price on options expiration day</h2>

      <div class="am-g">
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">

          <h3 class="detail-h3">
            <i class="am-icon-mobile am-icon-sm"></i>
            Current MP
          </h3>
          <p class="detail-p">
            Real-time options maximum pain calculator,you can get it NOW!
          </p>
        </div>
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
          <h3 class="detail-h3">
            <i class="am-icon-cogs am-icon-sm"></i>
            Free 30 Stocks MP
          </h3>

          <p class="detail-p">
            Free real-time options max-pain for popular 30 stocks in market. It is all free and usefully.
          </p>
        </div>
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
          <h3 class="detail-h3">
            <i class="am-icon-check-square-o am-icon-sm"></i>
            Trading Strategy
          </h3>

          <p class="detail-p">
            Uses the Open Interest to determine the cash paid out by the option writers if the stock were to close at each strike.  Therefore max pain is the most expensive strike for the option to close at on expiration day.
          </p>
        </div>
        <div class="am-u-lg-3 am-u-md-6 am-u-sm-12 detail-mb">
          <h3 class="detail-h3">
            <i class="am-icon-send-o am-icon-sm"></i>
            Historical Chart
          </h3>

          <p class="detail-p">
            All the historical numbers for weekly and monthly charts.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hope">
  <div class="am-g am-container">
    <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 hope-img">
      <img src="templates/assets/i/examples/landing.png" alt="" data-am-scrollspy="{animation:'slide-left', repeat: false}">
      <hr class="am-article-divider am-show-sm-only hope-hr">
    </div>
    <div class="am-u-lg-8 am-u-md-6 am-u-sm-12">
      <h2 class="hope-title">How to use the max pain theory to make money trading options</h2>

      <p>
        Pinning occurs when the markets close at or very near a specific option strike level. This is an easy, conservative strategy for making money from the concept of stock pinning.
      </p>
    </div>
  </div>
</div>
