<table>
   <tr style="background-color:#90ee90">
      <th>Plan</th>
      <th>Account Type</th>
      <th>Price</th>
      <th>Discount</th>
      <th>Get Start</th>
   </tr>
   <tr valign="top">
      <td>A</td>
      <td>Pro Member 1-Month</td>
      <td>$2.00</td>
      <td>0% Off</td>
      <td>
         <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="34VQ2BVWUMN86">
<input type="image" src="https://www.paypalobjects.com/en_US/C2/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
      </td>
   </tr>
   <tr valign="top">
      <td>B</td>
      <td>Pro Member 6-Months</td>
      <td>$6.00</td>
      <td>50% Off</td>
      <td>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="9Z5HHE24288PU">
<input type="image" src="https://www.paypalobjects.com/en_US/C2/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
        
      </td>
   </tr>
   <tr valign="top">
     <td>C</td>
     <td>Pro Member 1-Year</td>
     <td>$10.00</td>
     <td>58% Off</td>
     <td>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="U3RXQQNYP7UL4">
<input type="image" src="https://www.paypalobjects.com/en_US/C2/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
             
     </td>
   </tr>
</table>