<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
<title>Dadeinvest.com - Pricing plan for member </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="templates/pricecss/cloudflare.js" async=""></script><script type="text/javascript">
//<![CDATA[
try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dokv=88e434a982/"},atok:"7c523ad980dc3f17e972bb485300d7bc",petok:"1c0cb2dbb9bcb2ccb25fff2e6fc7e2e61e4c75ea-1409196074-1800",zone:"flashuser.net",rocket:"0",apps:0}];CloudFlare.push({"apps":{"ape":"0fa19ad3be701d80d91a635ffbf67efa"}});!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dokv=97fb4d042e/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
//]]>
</script>
<link type="text/css" href="templates/pricecss/styles.css" rel="stylesheet" media="all">

<style type="text/css">.cf-hidden { display: none; } .cf-invisible { visibility: hidden; }</style><link rel="stylesheet" type="text/css" href="templates/pricecss/injected.css"></head>
<body>
<div id="menu-holder">
<div class="price_table">
<div class="column_1">
<ul>
<li class="header_row_1 align_center">
<div class="pack-title">Free</div>
</li>
<li class="header_row_2 align_center">
<div class="price"><span>$$0</span></div>
<div class="time">per year</div>
</li>
<li class="row_style_1 align_center"><span>Free</span></li>
<li class="row_style_1 align_center"><span>Popular 30 stocks option max pain</span></li>
<li class="row_style_1 align_center no-option"><span>No limit times query per day</span></li>
<li class="row_style_1 align_center no-option"><span>Forum support</span></li>
<li class="row_style_footer_1 align_center">
</li>
</ul></div> 

<div class="column_1">
<ul>
<li class="header_row_1 align_center">
<div class="pack-title">Basic</div>
</li>
<li class="header_row_2 align_center">
<div class="price"><span>$$6</span></div>
<div class="time">Pro Member 6-Months</div>
</li>
<li class="row_style_2 align_center"><span>50% Off for 6-Month</span></li>
<li class="row_style_2 align_center"><span>All stocks options max pain</span></li>
<li class="row_style_2 align_center"><span>No limit times query per day</span></li>
<li class="row_style_2 align_center"><span>Forum support and Email support</span></li>
<li class="row_style_2 align_center no-option"><span>Trading Strategy</span></li>
<li class="row_style_footer_2 align_center">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="9Z5HHE24288PU">
<input type="image" src="https://www.paypalobjects.com/en_US/C2/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


</li>
</ul></div> 
<div class="column_1">
<ul>
<li class="header_row_1 align_center">
<div class="pack-title">Professional</div>
</li>
<li class="header_row_2 align_center">
<div class="price"><span>$$10</span></div>
<div class="time">per year</div>
</li>
<li class="row_style_1 align_center"><span>58% Off for one year</span></li>
<li class="row_style_1 align_center"><span>All stocks options max pain</span></li>
<li class="row_style_1 align_center"><span>No limit times query per day</span></li>
<li class="row_style_1 align_center"><span>Forum and Email support</span></li>
<li class="row_style_1 align_center"><span>Trading Strategy</span></li>
<li class="row_style_footer_1 align_center">
 <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="U3RXQQNYP7UL4">
<input type="image" src="https://www.paypalobjects.com/en_US/C2/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>          
</li>
</ul></div> 
</div> 
<div class="column-clear"></div>
<div class="content">
<p></p>
<p id="home">If you are a member,<a class="go" href="http://ucenter.dadeinvest.com/membership-login/" title="">Login here</a></p>
</div>
</div> 


</body></html>