<div class="am-container">
  <div class="am-g am-g-fixed">
    <div class="am-u-sm-12 am-u-sm-centered">
      <p class="am-text-primary">
      <p>The following show a membership registration process:</p>
      <p>Step1: Select a membership option by clicking on the payment button as below.</p>
      <p>Step2: Once the Payment is confirmed, you will receive an email that contains a “special” link to complete the registration.</p>
      <p>Step3: Go to your email and clicks on that special link in the email it will bring you to the registration page and you CAN choose a “username” and “password” for your account.</p>
      <p>Step4: <a href="http://ucenter.dadeinvest.com/membership-login/" target="_blank">Login with your account.</p>
      <P>We provide three membership options :</p>
    </div>
  </div>
</div>
 
<p></p>
<div class="am-container">
  <div class="am-g am-g-fixed">
    <div class="am-u-sm-9 am-u-sm-centered am-u-lg-uncentered">
    <table class="am-table am-table-bordered am-table-striped am-table-hover">
    <tbody>
      <tr style="background-color:#90ee90">
        <th>Plan</th>
        <th>Account Type</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Get Start</th>
     </tr>
     <tr valign="top">
      <td>A</td>
      <td>Pro Member 1-Month</td>
      <td>$2.00</td>
      <td>0% Off</td>
      <td>
         <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="34VQ2BVWUMN86">
<input type="image" src="https://www.paypalobjects.com/en_US/C2/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
      </td>
   </tr>
   <tr valign="top">
      <td>B</td>
      <td>Pro Member 6-Months</td>
      <td>$6.00</td>
      <td>50% Off</td>
      <td>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="9Z5HHE24288PU">
<input type="image" src="https://www.paypalobjects.com/en_US/C2/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
        
      </td>
   </tr>
   <tr valign="top">
     <td>C</td>
     <td>Pro Member 1-Year</td>
     <td>$10.00</td>
     <td>58% Off</td>
     <td>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="U3RXQQNYP7UL4">
<input type="image" src="https://www.paypalobjects.com/en_US/C2/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>          
     </td>
   </tr>
    </tbody>
    </table>
    </div>
  </div>
</div>