
<div class="about">
  <div class="am-g am-container">
    <div class="am-u-lg-12">
      <h2 class="about-title about-color">The Max Pain theory</h2>      
      <div class="am-g">
        <h4 class="about-color">What is Max Pain?</h4>
         
        <p>In Options Trading, the Max Pain theory, sometimes also called Strike Price Pegging focuses on the idea that towards expiration date the price of a stock will move towards its strike price thus inflicting most losses (pain) to the majority of option traders as all parties with high investments try to steer the stock price towards their calls or puts to minimize their losses. Max Pain calculations on our site use g intraday data and are up to date to within 30 minutes. 

        </p>
        <p>"In the option market, wealth transfer between option buyers and sellers is a zero-sum game. On option expiration days, the underlying stock price often moves toward a point that brings maximum loss to option buyers. This specific price, calculated based on all outstanding options in the market, is called Option Pain. Option Pain is a proxy for the stock price manipulation target by the option selling group."
        </p>  
        <p>
        <h4 class="about-color">Option Pain</h4>
        <p>
        Option pain is a term used to describe a somewhat controversial theory that states that the market prices of certain securities can be manipulated close to the expiration day to ensure that the highest possible number of options traders experience the maximum possible losses. 
        The theory is also known as max pain, maximum pain, or strike price pegging. It’s based on the assumption that most options contracts, whether calls or puts, will generally be out of the money at the time of expiration: meaning that they expire worthless.

        <p>The third Friday of a month is known as options expiration day, because this is the day when most options contracts expire. On any expiration day, there must be a price for each underlying security, which options are traded at, that would cause the largest loss to the most traders. For example, let’s assume that there were a number of contracts that had been traded on Company X stock and that the majority of those were at a strike price of $50.

         </p>
         <p>If Company X stock was trading at $50 at expiration time, then any contract with a strike price of $50 would be at the money and therefore effectively worthless at the point of expiration. In such an instance, $50 would be the option pain price.
         
         </p>
         <p>There isn’t a lot known about how and when this theory was developed, but it’s a theory that many have bought into. This is despite the fact that there are no real studies with significant sample sizes to prove that the theory is valid. However, there are traders that believe in the theory and try to profit from it.
         The basic principle is that if you can predict, with reasonable accuracy, what the max pain price of any given security will be at any given expiration point, then you can buy or sell options accordingly to profit from that prediction. Before you attempt to use this theory in conjunction with any of your trading strategies though, you should first understand that the theory makes a number of assumptions and has a number of flaws.
         </p>
</p>

<div class="am-u-sm-12 am-u-sm-centered" align="center">
 <p><img src="templates/images/aapl_maxpain.png" width="660" height="240" />
 <p>AAPL max pain in expdate 2016-01-15, current mp is 97.14<a href="http://www.dadeinvest.com/omp?symb=AAPL&expdate=2016-01-15">(more details)</a>
</div>
<h4 class="about-color">Assumptions and Flaws of Option Pain Theory</h4>
<p>
The option pain theory is actually based on a number of assumptions, some of which are reasonable but some of which contain flaws. Below we will outline the main assumptions of the theory and highlight where we believe the flaws are.
</p>
<p>
Options trading is a zero-sum process. What this essentially means is that in order for some traders to make money out of options trading, there must also be traders losing money. For every thousand dollars of profit that someone makes through trading options, somebody would also have to lose a thousand dollars. This is a fair assumption, because the profits have to come from somewhere of course.

<p>
The price of an underlying security will move to a point by expiration that will result in the maximum possible loss for holders of options. For the theory to be valid, the majority of securities that options can be based on must always move towards a price that means most options contracts expire worthless. While it’s fair to say that a large percentage of contracts do indeed expire worthless, it isn’t necessarily accurate to say the majority do.

It must also be considered that a lot of options contracts are bought as part of creating an options spread, perhaps to limit the risk of taking another position, where the expected likelihood is that they will expire worthless. The option pain theory doesn’t specifically take this into account.
</p>
It’s possible to calculate the price at which max pain will be inflicted. The theory assumes that the hypothetical price at which the maximum pain will be caused to the maximum number of options holders can be calculated. This is a major flaw in the theory, because there’s no obvious way that a price could be calculated.

To some extent, the theory is based on the fact that open interest can be used to determine how many options contracts are held. Open interest does provide an indication of how many open options positions there are at any given time, but it’s a stretch to suggest that this information is sufficient to make the required calculations.

The prices of securities are manipulated in order to be at the max pain point at the time of expiration. In some ways this is the main basis for the theory. There is an organized group of traders that manipulate prices to ensure that maximum pain is caused to the maximum number of options holders.

<p>It’s fair to say that the idea of such a group even existing is somewhat unlikely, and it’s even less likely that they would be able to avoid detection for any period of time. Even if this kind of group did exist, the difficulties they would face in manipulating the price of so many different securities is immense. In reality, if any organization did have the resources and influence to manipulate the market in such a way, they could probably focus their efforts in ways that would be far more profitable.

</p>
<h4 class="about-color">Summary</h4>
<p>
It’s never a good idea to completely discount any theory without fully understanding it first, and certainly not a theory that so many believe can potentially be used profitably. <p>However, as you can see there are undoubtedly some flaws to the option theory so it shouldn’t necessarily be considered a reliable indicator.

We would definitely not advise you against using the theory in your trading, but we could advise that if you are to use it, you use it in conjunction with other techniques. Don’t rely on it as a definitive indicator of where the price of a security may move to.</p>
</p>
<p> (Artice from WWW)
      </div>
    </div>
  </div>
</div>